/* CSS for index.php */
body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

h1 {
    color: #2565AE;
    text-align: center;
    font-size: 3vw;
}

/* sections one next to the other */
section {
    display: inline-block;
    border-radius: 10px;
    padding: 1%;
    border: 2px solid;
}

#deck_viewer {
    width: 50vw;
    height: auto;
    border-color: #2565AE;
    background-color: #f2f2f2;
    /* center deck div */
    display: inline-block;
    vertical-align: top;
}

#deck {
    width: 45vw;
    height: auto;
    background-color: #f2f2f2;
    border: hidden;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
}

#card_searcher {
    width: 40vw;
    height: 120vh;
    border-color: black;
    background-color: #2565AE;
    text-align: center;
}

#deck_viewer button {
    background-color: #2565AE;
    color: white;
    border: 2px solid;
    border-color: #2565AE;
    border-radius: 5px;
    padding: 1%;
    margin: 1%;
    font-size: 1vw;
}

#card_searcher > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#card_result {
    width: 12vw;
    height: 14vw;
    background-color: #f2f2f2;
    border-radius: 10px;
    border: 2px solid;
    border-color: gray;
    margin : 4%;
    padding: 4%;
    padding-bottom: 0%;
    display: inline-block;
    vertical-align: bottom;
}


.addCard {
    border-style: hidden;
}

#card_result > :hover {
    border-style: hidden;
    border-bottom-color: #147ae8;
    border-bottom-width: 4px;
    border-bottom-style: solid;
}

.addCard img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
}

.addCard p {
    font-size: 1vw;
    color: #2565AE;
    text-align: center;
}

#results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2%;
    overflow-y: scroll;
    overflow-x: hidden; 
    height: 100vh;
}

#pagination {
    display: flex;
    margin: 2%;
}

#page_number {
    background-color: #f2f2f2;
    border-radius: 10px;
    border: 2px solid;
    border-color: gray;
    width: 2%;
    padding: 1%;
    margin: 1%;
}

#card_searcher form {
    background-color: #f2f2f2;
    border-radius: 10px;
    border: 2px solid;
    border-color: gray;
}

#card_searcher form input {
    border : none;
    padding: 2%;
}

#card_searcher form input[type="text"] {
    width: 70%;
    height: 5%;
    margin: 1%;
}

#card_searcher form input[type="text"]:focus {
    outline: none;
}

#card_searcher form input[type="submit"] {
    width: 20%;
    height: 5%;
    border: 2px solid;
    border-color: #f2f2f2;
    border-left-color: gray;
    border-radius: 0px; 
}

form{
    border: hidden;
}

div.selectedCard {
    width: 4vw;
    height: 7vw;
    background-color: #f2f2f2;
    border-radius: 10px;
    border: 2px solid;
    border-color: #147ae8;
    margin : 1%;
    padding: 4%;
    padding-bottom: 0%;
    display: inline-block;
    vertical-align: bottom;

}

div.selectedCard img {
    height: 80%;
    display: block;
    margin:auto;

}

div.selectedCard.ending_point{
    background-color: #2565AE;
}