@font-face {
    font-family: 'Viola';
    src: url('font/otf/VIOLA.otf') format('opentype');
    font-weight: bolder;
    font-style: italic;
  }

body{
    background: linear-gradient(180deg, #1D1C25 0%, #431E3F 100%);
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

h1{
    color: rgb(212, 206, 206);
    font-size: 2.2rem;
    font-family: 'Viola', sans-serif;
}

input[type=text] {
    font-family: inherit;
    font-size: inherit;
}

.input__container {
    position: relative;
    background: linear-gradient(180deg, #3e3c50 0%, #431E3F 100%);
    width: 20vw;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 22px;
    perspective: 500px;
}

.input__button__shadow {
    cursor: pointer;
    border: none;
    background: none;
    transition: transform 400ms, background 400ms;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 5px;
}

.input__button__shadow:hover {
    background: rgba(255, 255, 255, 0.411);
}

.input__search {
    width: 100%;
    border-radius: 20px;
    outline: none;
    border: none;
    padding: 8px;
    position: relative;
}

#deck{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2%;
    border: #181818 solid 5px;
}

.card {
    --background: linear-gradient( to right, #614385    0%, #516395 100%);
    width: 5.9rem;
    height: 8.6rem;
    padding: 5px;
    margin : 1%;
    overflow: visible;
    background: #f7ba2b;
    background: var(--background);
    position: relative;
    z-index: 1;
}
   
.card-info {
    --color: #181818;
    background: var(--color);
    color: var(--color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.card img{
    width: 100%;
}

.selectedCard{
    height: 100%;
    cursor: pointer;
}

.deckButton {
    margin-right: 2%;
    font-size: 18px;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow,transform;
    background: linear-gradient( to right, #614385    0%, #516395 100%);
    box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
    padding: 0 2em;
    border-radius: 0.3em;
    color: #fff;
    height: 2.6em;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease, transform 0.15s ease;
}

.deckButton:hover {
    box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #3c4fe0;
    transform: translateY(-0.1em);
}
  
.deckButton:active {
    box-shadow: inset 0px 0.1em 0.6em #3c4fe0;
    transform: translateY(0em);
}

#deckButtons{
    display: flex;
    justify-content: start;
    margin: 2%;
}

#card_searcher{
    background-color: #1D1C25;
    visibility: hidden;
    position: absolute;
    left : 58%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    z-index: 100;
    min-width: 40vw;
    max-width: 40vw;
    border: #181818 solid 5px;
}

#results{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 100;
    min-width: 22vw;
    max-width: 40vw;
}

#card_result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

#card_result button{
    padding : 0;
    margin: 0;
    border: 0;
    background: none;
}

#card_result button img{
    height: 100%;
}

#card_result button:hover{
    cursor: pointer;
}

#pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

#page_number {
    margin-left: 1%;
    margin-right: 1%;
    font-size: 1rem;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow,transform;
    background: linear-gradient( to right, #614385    0%, #516395 100%);
    box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
    border-radius: 0.3em;
    color: #fff;
    height: 2.0em;
    width: 3.0em;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease, transform 0.15s ease;
}

#page_number:hover {
    box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #3c4fe0;
    transform: translateY(-0.1em);
}
  
#page_number:active {
    box-shadow: inset 0px 0.1em 0.6em #3c4fe0;
    transform: translateY(0em);
}

h2, h3{
    color: #fff;
    font-weight: 500;
    font-family: 'Viola', sans-serif;
}

h3{
    font-size: 1rem;
}

#title{
    margin: 2%;
}

.ending_point{
    background: red;
}

#bridges{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 100;
}

.bridge{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 40%;
}

.bridge img{
    width: 100%;
}

.bridge .arrow{
    width: 8%;
}